{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="cart-page">
  <h1 class="order-title">Mon compte</h1>

  <div class="order-container">
    {% if ordersList is empty %}
    <p class="order-cart">Aucune commande passée.</p>
    {% else %}
    <p class="order-title-list"><strong>Mes commandes</strong></p>
    <table class="order-table">
      <thead>
        <tr>
          <th>N°</th>
          <th>Date</th>
          <th>Prix</th>
        </tr>
      </thead>
      <tbody>
        {% for order in ordersList %}
        <tr>
          <td>{{ order.orderNumber }}</td>
          <td>{{ order.validationDate|date("d/m/Y") }}</td>
          <td>{{ order.totalPrice|number_format(2, ',', ' ') }}€</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

  </div>

  {% set roles = app.user ? app.user.roles : [] %}


  <div class="order-summary-container">
    <div class="order-summary">
      <p class="order-api-title"><strong>Mon accès API :</strong></p>
      {% if 'ROLE_API_READ' in roles %}
      <a href="{{ path('app_user_removeApiRights')}}" class="btn order-button btn-dark">Révoquer mon accès API</a>
      {% else %}
      <a href="{{ path('app_user_addApiRights')}}" class="btn order-button btn-dark">Activer mon accès API</a>
      {% endif %}
    </div>
    {% if is_granted('ROLE_API_READ') %}
    <div class="order-summary">
      <p class="order-api-title" style="padding-top: 30px;"><strong>Accéder à la documentation API :</strong></p>
      <a href="{{ '/api/doc' }}" class="btn order-button btn-dark" target="_blank">Documentation API</a>
    </div>
    {% endif %}
  </div>

  <div class="order-summary-container">
    <div class="order-summary">
      <a href="{{ path('app_user_delete')}}" class="btn order-button btn-dark">Supprimer mon
        compte</a>
    </div>
  </div>
</div>
{% endblock %}